In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

%matplotlib inline

In [6]:
pendulum = pd.read_csv('data/pendulum.csv')
pendul

     L      t      T     g
0  135  23.24  2.324  9.87
1  115  21.67  2.167  9.67
2  100  20.18  2.018  9.69
3   55  14.93  1.493  9.74

In [8]:
woof = pendulum["L"]
woof

0    135
1    115
2    100
3     55
Name: L, dtype: int64